
*,
*::after,
*::before {
    margin:0;
    padding:0;
   box-sizing: inherit;
}

html{
    font-size: 62.5%;
    
    /* 10px based off of the root 16px//// defines what 1rem is*/

    
    @include respond(big-desktop) {
        font-size: 60%; //1 rem = 12px, 12/16 = 75%
    }
    @include respond(tab-land) { //width < 900?
        font-size:  56.25%; //1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) { //width <600?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }    
   
     @include respond(phone) {
        font-size: 45%;
    } 
}

body {

    box-sizing: border-box;
    -webkit-user-select: none;
}

  .overflow-hidden{
      overflow: hidden;
  }
  .overflow-visable{
      overflow: visible !important;
  }
  
  
  #demo {
    width: auto;
    height: auto;
    cursor: none;
  }
  
  #stage {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // @include respond(phone) {
    //     position: relative !important;
    // } 
    
}
.fade{
    transition: all .2s;
    opacity: 0;

    
}
#landing{
    animation: animateElement linear 1s;
    animation-iteration-count: 1;
    transition:all .2s ease;
    min-width: 100%;
    min-height: 100%;
}


.touch{
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
cursor: none;
    text-shadow:
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
            }
#name_pop {
    
    transition:all .4s ease;
    
}
.popup_name{
    animation: animateElementUp linear 3s;
}
.name_pop--active{
    width: 800px !important;
    transition:all .4s ease;
    
}

#advert-once {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: inline-block;
    background-color: #333;
    padding: 5px 5px 0;
    z-index: 99999;
    }
     
    #advert-once .advert-button {
    width: 10px;
    height: 10px;
    position: absolute;
    left: -3px;
    top: -3px;
    background-color: #ff4500;
    border-radius: 5px;
    cursor: pointer;
    }
    
    #reset-session, #refresh-page {
    display: block;
    width: 250px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    background-color: #ddd;
    margin: 5px 0;
    }
    
    #reset-session:hover, #refresh-page:hover {
    background-color: #f96e5b;
    }

    @keyframes animateElement{
        0% {
          opacity:0;
          
        }
        100% {
          opacity:1;
        }
      }
      @keyframes animateElementUp
      {
        0% {
          transform:  translateY(0px,10px);
          
        }
        100% {
            transform:  translateY(0px,0px);
        }
      }
      @keyframes faze
      {
        0% {
            filter: blur(2px);
          
        }
        100% {
            filter: blur(0px);
        }
      }
      