
@mixin clearfix {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  @mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   /*
  0 -600px    phone
  600- 900px  tablet portrait
  900=1200px  tablet landscape
  1200-1000px normal styles for desktop
  1800px +    Big desktop
 
  $breakpoint argument choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop

ORDER:
 base + typeography --> general layout + grid --> page layout --> components

  1em = 16px
  ems are better than rems for media screens
  */

  @mixin respond($breakpoint) {
    @if $breakpoint == phone-smaller {
      @media only screen and (max-width: 25em) { @content }; //600/16 = 37.5, 600px
      }
      @if $breakpoint == phone-small {
      @media only screen and (max-width: 31.25em) { @content }; //600/16 = 37.5, 600px
      }
      @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; //600/16 = 37.5, 600px
      }
      @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };  //900/16 = 56.25, 900px
      }
      @if $breakpoint == tab {
        @media only screen and (max-width: 68.75em) { @content }; //1200/16 = 75,  1200px
      }
      @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; //1200/16 = 75,  1200px
      }
      @if $breakpoint == desktop {
        @media only screen and (max-width: 103.125em) { @content }; //1650/16 = 112.5, 1800px
      }
      @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; //1800/16 = 112.5, 1800px
      }

  }
  // example 
  // @include respond(desktop) {
    //     &__btns::before{
    //         width:68vw;
    //     }
    // }
    // @include respond(tab-land) {
    //     &__btns::before{
    //         width:66vw;
    //     }
    // }
    // @include respond(tab-port) {
    //     &__btns::before{
    //         width:58vw;
    //     }
    // }
    // @include respond(phone) {
    //     &__btns::before{
    //         width:45vw;
    //     }
    // }
    // @include respond(phone-small) {
    //     &__btns::before{
    //         width:43vw;
    //     }
    // }
    // @include respond(phone-smaller) {
    //     &__btns::before{
    //         width:35vw;
    //     }
    // }
   