/*
  0 -600px    phone
  600- 900px  tablet portrait
  900=1200px  tablet landscape
  1200-1000px normal styles for desktop
  1800px +    Big desktop
 
  $breakpoint argument choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop

ORDER:
 base + typeography --> general layout + grid --> page layout --> components

  1em = 16px
  ems are better than rems for media screens
  */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes borderBottomFill {
  0% { }
  10% {
    border-right: .2rem solid  #B52637; }
  15% { }
  40% {
    border-top: .2rem solid  #B52637; }
  70% {
    border-left: .2rem solid  #B52637; }
  100% { } }

@keyframes borderBottomFill2 {
  0% {
    border-bottom: .2rem solid  #B52637; }
  10% {
    border-right: .2rem solid  #B52637; }
  15% { }
  40% {
    border-top: .2rem solid  #B52637; }
  70% {
    border-left: .2rem solid  #B52637; }
  100% { } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10px based off of the root 16px//// defines what 1rem is*/ }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box; }

.overflow-hidden {
  overflow: hidden; }

.overflow-visable {
  overflow: visible !important; }

#demo {
  width: auto;
  height: auto;
  cursor: none; }

#stage {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

svg {
  width: 100%;
  height: 100%; }

.fade {
  transition: all .2s;
  opacity: 0; }

#landing {
  animation: animateElement linear 1s;
  animation-iteration-count: 1;
  transition: all .2s ease; }

.touch {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  cursor: none;
  text-shadow: 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

#name_pop {
  transition: all .4s ease; }

.popup_name {
  animation: animateElementUp linear 3s; }

.name_pop--active {
  width: 800px !important;
  transition: all .4s ease; }

#advert-once {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: inline-block;
  background-color: #333;
  padding: 5px 5px 0;
  z-index: 99999; }

#advert-once .advert-button {
  width: 10px;
  height: 10px;
  position: absolute;
  left: -3px;
  top: -3px;
  background-color: #ff4500;
  border-radius: 5px;
  cursor: pointer; }

#reset-session, #refresh-page {
  display: block;
  width: 250px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  background-color: #ddd;
  margin: 5px 0; }

#reset-session:hover, #refresh-page:hover {
  background-color: #f96e5b; }

@keyframes animateElement {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animateElementUp {
  0% {
    transform: translateY(0px, 10px); }
  100% {
    transform: translateY(0px, 0px); } }

@keyframes faze {
  0% {
    filter: blur(2px); }
  100% {
    filter: blur(0px); } }

body {
  font-family: 'Montserrat', sans-serif; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.container-fluid {
  display: grid;
  grid-template-rows: [name-start] 12rem [name-end info-start] min-content [info-end content-start] min-content [content-end footer-start] 20vh [footer-end];
  grid-template-columns: [col-start space-start] 15vw [space-end main-start] 70vw [main-end space-start-2] 15vw [space-end-2 col-end];
  background-color: #f2f1f1;
  color: #333333;
  min-height: 100vh;
  z-index: 1; }

.container-nameplate {
  display: grid;
  grid-row: name-start / name-end;
  grid-column: main-start / main-end;
  margin: 4rem 0;
  justify-content: start;
  align-content: start; }

.nameplates {
  z-index: 200;
  display: grid;
  grid-template-columns: repeat(2, 35vw); }
  @media only screen and (max-width: 56.25em) {
    .nameplates {
      grid-template-columns: 70vw;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1rem;
      justify-content: center;
      align-items: center; } }
  @media only screen and (max-width: 37.5em) {
    .nameplates {
      grid-gap: 0; } }
  .nameplates__logo--name {
    margin-top: 1rem;
    width: 22rem;
    cursor: pointer; }
  .nameplates__logo img {
    grid-row: 1; }
    @media only screen and (max-width: 56.25em) {
      .nameplates__logo img {
        justify-self: center;
        width: 100%;
        height: 4rem;
        justify-content: center;
        margin-bottom: 1rem; } }
  .nameplates__btns {
    display: grid;
    color: #333333;
    grid-template-columns: repeat(5, 10rem);
    justify-items: end;
    justify-content: end;
    align-items: end; }
    @media only screen and (max-width: 56.25em) {
      .nameplates__btns {
        margin-bottom: 20px;
        justify-items: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(5, 14vw); } }
    @media only screen and (max-width: 37.5em) {
      .nameplates__btns {
        grid-template-columns: repeat(5, 14vw); } }
    @media only screen and (max-width: 31.25em) {
      .nameplates__btns {
        grid-template-columns: repeat(5, 18vw);
        margin-right: 2rem; } }
    .nameplates__btns--border {
      border: 2px solid #B52637 !important;
      color: #B52637 !important;
      box-sizing: border-box;
      margin-left: 1rem; }
    .nameplates__btns--border:hover {
      transition: all .2s;
      background-color: #B52637;
      color: #fff !important; }
    .nameplates__btns--work:hover {
      transition: all .2s;
      color: #B52637; }
    .nameplates__btns--about:hover {
      transition: all .2s;
      color: #B52637; }
    .nameplates__btns--git:hover {
      transition: all .2s;
      color: #B52637; }
    .nameplates__btns--resume:hover {
      transition: all .2s;
      color: #B52637; }
  .nameplates button {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: .5rem 1rem;
    border-style: none;
    font-size: 1.7rem;
    cursor: pointer;
    color: #333333;
    border-radius: 0;
    background-color: inherit; }
    @media only screen and (max-width: 37.5em) {
      .nameplates button {
        padding: .3rem .5rem;
        font-size: 2rem; } }
    @media only screen and (max-width: 31.25em) {
      .nameplates button {
        grid-template-columns: repeat(5, 18vw); } }
  .nameplates button:focus {
    outline: 0; }

.container-content {
  display: grid;
  grid-row: content-start / content-end;
  grid-column: main-start / main-end;
  animation: faze linear .2s; }

.content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  transition: all .2s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 2px; }
  @media only screen and (max-width: 56.25em) {
    .content {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .content {
      grid-template-rows: 200px 1fr; } }
  .content:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  .content__img--left {
    grid-column: 1;
    height: 377px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 2px; }
    @media only screen and (max-width: 56.25em) {
      .content__img--left {
        grid-row: 1;
        height: 250px; } }
    @media only screen and (max-width: 37.5em) {
      .content__img--left {
        grid-row: 1;
        height: 200px; } }
  .content__textright {
    display: grid;
    grid-column: 2;
    padding: 0 2rem;
    align-content: center; }
    @media only screen and (max-width: 56.25em) {
      .content__textright {
        grid-row: 2;
        grid-column: 1;
        padding: 0 2rem 2rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .content__textright {
        grid-row: 2;
        grid-column: 1;
        padding: 1.5rem 2rem; } }
    .content__textright--name {
      font-family: 'Merriweather', serif;
      font-size: 3rem;
      font-weight: 300;
      color: #333333;
      font-style: italic; }
    .content__textright--info {
      font-family: 'Merriweather', sans-serif;
      font-size: 1.5rem;
      line-height: 2;
      color: #868686;
      margin-top: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .content__textright--info {
          margin-top: 1rem;
          font-size: 1.7rem; } }
    .content__textright--detail {
      margin-top: .5rem;
      font-family: 'Merriweather', sans-serif;
      font-size: 1.5rem;
      line-height: 2;
      color: #2E3192;
      font-weight: bold; }
    .content__textright--btn button {
      margin: 1rem 2rem 0 0;
      font-family: 'Montserrat', sans-serif;
      padding: .5rem 1rem;
      border-style: none;
      font-size: 1.7rem;
      cursor: pointer;
      color: #B52637;
      border-radius: 0;
      background-color: inherit;
      border: 2px solid transparent;
      border-bottom: 2px solid #B52637;
      justify-self: start;
      transition: all .2s; }
      @media only screen and (max-width: 37.5em) {
        .content__textright--btn button {
          width: 100%;
          border: 2px solid #B52637; } }
      .content__textright--btn button:focus {
        outline: 0; }
      .content__textright--btn button:hover {
        border: 2px solid #B52637;
        color: #fff;
        background-color: #B52637;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
      .content__textright--btn button:active {
        background-color: #991f2e;
        color: white;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .content__img--right {
    grid-column: 2;
    height: 377px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 2px; }
    @media only screen and (max-width: 56.25em) {
      .content__img--right {
        grid-column: 1;
        grid-row: 1;
        height: 250px; } }
    @media only screen and (max-width: 37.5em) {
      .content__img--right {
        grid-row: 1;
        height: 200px; } }
  .content__textleft {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    padding: 0 2rem;
    align-content: center; }
    @media only screen and (max-width: 56.25em) {
      .content__textleft {
        grid-row: 2;
        grid-column: 1;
        padding: 0 2rem 2rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .content__textleft {
        grid-row: 2;
        grid-column: 1;
        padding: 1.5rem 2rem; } }
    .content__textleft--name {
      font-family: 'Merriweather', serif;
      font-size: 3rem;
      font-weight: 300;
      color: #333333;
      font-style: italic; }
    .content__textleft--info {
      font-family: 'Merriweather', sans-serif;
      font-size: 1.5rem;
      line-height: 2;
      color: #868686;
      margin-top: 2rem;
      padding-right: 1rem; }
      @media only screen and (max-width: 37.5em) {
        .content__textleft--info {
          margin-top: 1rem;
          font-size: 1.7rem; } }
    .content__textleft--detail {
      margin-top: .5rem;
      font-family: 'Merriweather', sans-serif;
      font-size: 1.5rem;
      line-height: 2;
      color: #2E3192;
      font-weight: bold; }
    .content__textleft--btn button {
      margin: 1rem 2rem 0 0;
      font-family: 'Montserrat', sans-serif;
      padding: .5rem 1rem;
      border-style: none;
      font-size: 1.7rem;
      cursor: pointer;
      color: #B52637;
      border-radius: 0;
      background-color: inherit;
      border: 2px solid transparent;
      border-bottom: 2px solid #B52637;
      justify-self: start;
      transition: all .2s; }
      @media only screen and (max-width: 37.5em) {
        .content__textleft--btn button {
          width: 100%;
          border: 2px solid #B52637; } }
      .content__textleft--btn button:focus {
        outline: 0; }
      .content__textleft--btn button:hover {
        border: 2px solid #B52637;
        color: #fff;
        background-color: #B52637;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
      .content__textleft--btn button:active {
        background-color: #991f2e;
        color: white;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }

.container-info {
  display: grid;
  grid-row: info-start / info-end;
  grid-column: main-start / main-end; }
  @media only screen and (max-width: 37.5em) {
    .container-info {
      margin-bottom: 2rem; } }

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 15rem;
  margin-top: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .info {
      margin-top: 5rem;
      height: 10rem;
      margin-bottom: 2rem; } }
  .info__titles {
    grid-column: 1; }
    .info__titles--1, .info__titles--2 {
      font-family: 'Merriweather', sans-serif;
      font-weight: 300;
      font-size: 4rem;
      color: #333333;
      font-style: italic; }
      @media only screen and (max-width: 56.25em) {
        .info__titles--1, .info__titles--2 {
          font-size: 3.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .info__titles--1, .info__titles--2 {
          font-size: 3rem;
          padding-right: 1rem; } }
      @media only screen and (max-width: 25em) {
        .info__titles--1, .info__titles--2 {
          font-size: 2.5rem;
          padding-right: 1rem; } }
  .info__text {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 2;
    color: #868686; }
    @media only screen and (max-width: 37.5em) {
      .info__text {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 25em) {
      .info__text {
        font-size: 1.4rem; } }

.container-footer {
  display: grid;
  grid-row: footer-start / footer-end;
  grid-column: 1 / main-end; }

.footer {
  display: grid;
  position: relative; }
  .footer__btns::before {
    content: '';
    width: 73vw;
    border-bottom: solid 2px #fff;
    position: absolute;
    left: 0;
    top: 42%;
    z-index: 1; }
    @media only screen and (max-width: 103.125em) {
      .footer__btns::before {
        width: 68vw; } }
    @media only screen and (max-width: 75em) {
      .footer__btns::before {
        width: 66vw; } }
    @media only screen and (max-width: 56.25em) {
      .footer__btns::before {
        width: 58vw; } }
    @media only screen and (max-width: 37.5em) {
      .footer__btns::before {
        width: 45vw; } }
    @media only screen and (max-width: 31.25em) {
      .footer__btns::before {
        width: 43vw; } }
    @media only screen and (max-width: 25em) {
      .footer__btns::before {
        width: 35vw; } }
  .footer__btns {
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    justify-items: end;
    justify-content: end;
    align-items: end; }
    .footer__btns--1 {
      color: #333333; }
      .footer__btns--1:focus {
        outline: 0; }
    .footer__btns--1:hover {
      transition: all .2s;
      color: #B52637; }
    .footer__btns--2 {
      border: 2px solid #B52637 !important;
      color: #B52637; }
      .footer__btns--2:focus {
        outline: 0; }
    .footer__btns--2:hover {
      transition: all .2s;
      background-color: #B52637;
      color: #fff; }
  .footer button {
    font-family: 'Montserrat', sans-serif;
    padding: .5rem 1rem;
    border-style: none;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 0;
    background-color: inherit; }
    @media only screen and (max-width: 37.5em) {
      .footer button {
        padding: .3rem .5rem;
        font-size: 2rem; } }
    .footer button:focus {
      outline: 0; }

.container-about {
  display: grid;
  grid-row: content-start / content-end;
  grid-column: col-start / col-end;
  background-color: #fff;
  margin-bottom: 20.5vh; }
  @media only screen and (max-width: 37.5em) {
    .container-about {
      margin-bottom: 0; } }
  .container-about #lines {
    max-width: 100vw;
    max-height: 100vh; }

.about {
  display: grid;
  grid-template-columns: 15vw 35vw 10vw 10vw 15vw;
  padding: 4rem 0; }
  @media only screen and (max-width: 37.5em) {
    .about {
      margin-bottom: 0;
      height: 66rem; } }
  @media only screen and (max-width: 31.25em) {
    .about {
      margin-bottom: 0;
      height: 75rem; } }
  @media only screen and (max-width: 25em) {
    .about {
      margin-bottom: 0;
      height: 80rem; } }
  @media only screen and (max-width: 103.125em) {
    .about {
      grid-template-columns: 15vw 35vw 10vw 15vw 15vw; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      grid-template-columns: 15vw 70vw 15vw;
      grid-template-rows: repeat(2, 1fr); } }
  .about__left {
    grid-column: 2; }
    @media only screen and (max-width: 37.5em) {
      .about__left {
        grid-column: 2;
        grid-row: 1; } }
    .about__left--heading {
      font-size: 1.6rem;
      font-family: 'Montserrat', sans-serif; }
      @media only screen and (max-width: 37.5em) {
        .about__left--heading {
          font-size: 2rem; } }
    .about__left--text {
      font-size: 1.6rem;
      padding: 2rem 0 0 0;
      line-height: 3rem; }
      @media only screen and (max-width: 37.5em) {
        .about__left--text {
          font-size: 1.8rem;
          padding-bottom: 2rem; } }
  .about__right {
    grid-column: 4; }
    @media only screen and (max-width: 37.5em) {
      .about__right {
        grid-column: 2;
        grid-row: 2; } }
    .about__right--heading {
      font-size: 1.6rem;
      font-family: 'Montserrat', sans-serif; }
      @media only screen and (max-width: 37.5em) {
        .about__right--heading {
          font-size: 2rem; } }
    .about__right--text {
      font-family: 'Merriweather', sans-serif;
      padding-top: 2rem;
      font-size: 1.6rem;
      color: #868686;
      font-weight: 100;
      font-style: italic;
      list-style: none;
      line-height: 4rem; }
    .about__right--text li {
      padding-right: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .about__right--text li {
          font-size: 2rem; } }
  .about__text {
    grid-column: 5; }
    @media only screen and (max-width: 37.5em) {
      .about__text {
        grid-column: 1;
        grid-row: 2;
        margin-left: 50vw; } }
    .about__text--text {
      font-family: 'Merriweather', sans-serif;
      padding-top: 4rem;
      font-size: 1.6rem;
      color: #868686;
      font-weight: 100;
      font-style: italic;
      list-style: none;
      line-height: 4rem; }
      @media only screen and (max-width: 37.5em) {
        .about__text--text {
          font-size: 2rem; } }

.container-contact {
  display: grid;
  grid-row: content-start / content-end;
  grid-column: main-start / main-end; }

.contact {
  display: grid;
  grid-template-columns: 2fr 1fr; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      grid-template-columns: 1fr; } }
  .contact__heading {
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: #333333;
    font-style: italic;
    margin-top: 6rem;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .contact__heading {
        margin-bottom: 3rem; } }
  .contact__form {
    grid-column: 1;
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 1fr;
    padding: 0 5rem 5rem 0; }
    @media only screen and (max-width: 56.25em) {
      .contact__form {
        padding: 0 0 5rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .contact__form {
        grid-template-rows: 4; } }
    input .contact__form--fields--btn {
      padding: 2rem; }
    .contact__form--fields-1 {
      grid-row: 1;
      grid-column: 1; }
      .contact__form--fields-1 input {
        width: 48%;
        padding: 2rem;
        margin-right: 1rem;
        float: left;
        font-size: 1.6rem;
        border: none;
        font-family: 'Arial', sans-serif; }
        @media only screen and (max-width: 37.5em) {
          .contact__form--fields-1 input {
            width: 100%;
            margin-bottom: 2rem; } }
      .contact__form--fields-1 input:hover {
        transition: all .2s;
        transform: translateY(-2px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
      .contact__form--fields-1 input:focus {
        outline: none; }
    .contact__form--fields-2 {
      grid-column: 2; }
      @media only screen and (max-width: 37.5em) {
        .contact__form--fields-2 {
          grid-row: 2;
          grid-column: 1; } }
      .contact__form--fields-2 input {
        width: 48%;
        float: right;
        padding: 2rem;
        font-size: 1.6rem;
        border: none; }
        @media only screen and (max-width: 37.5em) {
          .contact__form--fields-2 input {
            width: 100%; } }
      .contact__form--fields-2 input:hover {
        transition: all .2s;
        transform: translateY(-2px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
      .contact__form--fields-2 input:focus {
        outline: none; }
    .contact__form--message {
      grid-row: 2; }
      .contact__form--message textarea {
        width: 100%;
        font-family: 'Arial', sans-serif;
        margin-top: 5rem;
        margin-bottom: 2rem;
        padding: 2rem;
        font-size: 1.6rem;
        height: 15vw;
        border: .2rem transparent; }
        @media only screen and (max-width: 37.5em) {
          .contact__form--message textarea {
            margin-top: 2rem;
            height: 20vh; } }
      .contact__form--message textarea:hover {
        transition: all .2s;
        transform: translateY(-2px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
      .contact__form--message textarea:focus {
        outline: none; }
    .contact__form--btn {
      grid-row: 3; }
      .contact__form--btn input {
        float: right;
        transition: all .2s;
        position: relative;
        font-size: 2rem;
        padding: .5rem 1rem;
        background-color: transparent;
        color: #B52637;
        border: .2rem solid transparent;
        border-bottom: .2rem solid #B52637;
        cursor: pointer; }
      .contact__form--btn input:focus {
        outline: 0; }
      .contact__form--btn input:hover {
        animation: borderBottomFill .8s;
        transform: translateY(-0.1rem); }
  .contact__text {
    grid-column: 2;
    font-size: 1.6rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__text {
        display: none; } }

.container-mongodb {
  display: grid;
  grid-row: content-start / content-end;
  grid-column: col-start / col-end;
  background-color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .container-mongodb {
      margin-top: 6rem; } }

.mongodb {
  display: grid;
  grid-template-columns: 15vw 70vw 15vw; }
  .mongodb__img {
    grid-column: 1/-1; }
    .mongodb__img--1 {
      width: 100vw;
      object-fit: cover;
      height: 340px; }
      @media only screen and (max-width: 56.25em) {
        .mongodb__img--1 {
          height: 200px; } }
      @media only screen and (max-width: 37.5em) {
        .mongodb__img--1 {
          height: 150px; } }
  .mongodb__heading {
    grid-column: 2;
    margin: 5rem 0;
    background-color: white; }
    .mongodb__heading--text {
      font-family: 'Merriweather', sans-serif;
      font-weight: 300;
      font-size: 4rem;
      color: #333333;
      font-style: italic; }
    .mongodb__heading--tag {
      font-family: 'Merriweather', sans-serif;
      font-size: 1.6em;
      color: #2E3192;
      font-style: italic;
      font-weight: bold; }
  .mongodb__content {
    grid-column: 2;
    font-size: 1.6rem;
    display: grid;
    grid-gap: 50px; }
    @media only screen and (max-width: 56.25em) {
      .mongodb__content {
        grid-gap: 0;
        font-size: 2rem; } }
    .mongodb__content--obj {
      grid-column: 1; }
      .mongodb__content--obj-heading {
        font-family: 'Montserrat', sans-serif;
        color: #333333;
        font-weight: bolder;
        padding-bottom: 1rem; }
      .mongodb__content--obj-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 1rem; }
    .mongodb__content--challenge {
      grid-column: 1; }
      .mongodb__content--challenge-heading {
        font-family: 'Montserrat', sans-serif;
        color: #333333;
        font-weight: bolder;
        padding-bottom: 1rem; }
      .mongodb__content--challenge-text-1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 1rem; }
      .mongodb__content--challenge-text-2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 5rem; }
        @media only screen and (max-width: 56.25em) {
          .mongodb__content--challenge-text-2 {
            padding-bottom: 1rem; } }
  .mongodb__content2 {
    grid-column: 2;
    font-size: 1.6rem;
    display: grid; }
    @media only screen and (max-width: 56.25em) {
      .mongodb__content2 {
        font-size: 2rem;
        grid-column: 1; } }
    .mongodb__content2--solution {
      grid-column: 2; }
      .mongodb__content2--solution-heading {
        font-family: 'Montserrat', sans-serif;
        color: #333333;
        font-weight: bolder;
        padding-bottom: 1rem; }
      .mongodb__content2--solution-text-1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 1rem; }
        @media only screen and (max-width: 56.25em) {
          .mongodb__content2--solution-text-1 {
            padding-bottom: 0; } }
      .mongodb__content2--solution-text-2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 1rem; }
        @media only screen and (max-width: 56.25em) {
          .mongodb__content2--solution-text-2 {
            padding-bottom: 3rem; } }
    .mongodb__content2--btns {
      grid-column: 2; }
      .mongodb__content2--btns-1 {
        grid-column: 1; }
        .mongodb__content2--btns-1 button {
          margin: -20rem 2rem 2rem 0;
          width: 15rem;
          transition: all .2s;
          position: relative;
          font-size: 2rem;
          padding: .5rem 1rem;
          background-color: transparent;
          color: #B52637;
          border: .2rem solid #B52637;
          cursor: pointer; }
          @media only screen and (max-width: 56.25em) {
            .mongodb__content2--btns-1 button {
              margin: -20rem 2rem 2rem 0;
              width: 100%; } }
          .mongodb__content2--btns-1 button:focus {
            outline: 0; }
        .mongodb__content2--btns-1 button:hover {
          background-color: #B52637;
          color: white;
          transform: translateY(-0.3rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          animation: pulse 1.3s infinite; }
        .mongodb__content2--btns-1 button:active {
          background-color: #991f2e;
          color: white;
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }

.container-octothorpe {
  display: grid;
  grid-row: content-start / content-end;
  grid-column: col-start / col-end;
  background-color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .container-octothorpe {
      margin-top: 6rem; } }

.octothorpe {
  display: grid;
  grid-template-columns: 15vw 70vw 15vw; }
  .octothorpe__img {
    grid-column: 1/-1; }
    .octothorpe__img--1 {
      width: 100vw;
      object-fit: cover;
      height: 340px; }
      @media only screen and (max-width: 56.25em) {
        .octothorpe__img--1 {
          height: 200px; } }
      @media only screen and (max-width: 37.5em) {
        .octothorpe__img--1 {
          height: 150px; } }
  .octothorpe__heading {
    grid-column: 2;
    margin: 5rem 0;
    background-color: white; }
    .octothorpe__heading--text {
      font-family: 'Merriweather', sans-serif;
      font-weight: 300;
      font-size: 4rem;
      color: #333333;
      font-style: italic; }
    .octothorpe__heading--tag {
      font-family: 'Merriweather', sans-serif;
      font-size: 1.6em;
      color: #2E3192;
      font-style: italic;
      font-weight: bold; }
  .octothorpe__content {
    grid-column: 2;
    font-size: 1.6rem;
    display: grid;
    grid-gap: 50px; }
    @media only screen and (max-width: 56.25em) {
      .octothorpe__content {
        grid-gap: 0;
        font-size: 2rem; } }
    .octothorpe__content--obj {
      grid-column: 1; }
      .octothorpe__content--obj-heading {
        font-family: 'Montserrat', sans-serif;
        color: #333333;
        font-weight: bolder;
        padding-bottom: 1rem; }
      .octothorpe__content--obj-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 1rem; }
    .octothorpe__content--challenge {
      grid-column: 1; }
      .octothorpe__content--challenge-heading {
        font-family: 'Montserrat', sans-serif;
        color: #333333;
        font-weight: bolder;
        padding-bottom: 1rem; }
      .octothorpe__content--challenge-text-1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 5rem; }
        @media only screen and (max-width: 56.25em) {
          .octothorpe__content--challenge-text-1 {
            padding-bottom: 1rem; } }
  .octothorpe__content2 {
    grid-column: 2;
    font-size: 1.6rem;
    display: grid; }
    @media only screen and (max-width: 56.25em) {
      .octothorpe__content2 {
        font-size: 2rem;
        grid-column: 1; } }
    .octothorpe__content2--solution {
      grid-column: 2; }
      .octothorpe__content2--solution-heading {
        font-family: 'Montserrat', sans-serif;
        color: #333333;
        font-weight: bolder;
        padding-bottom: 1rem; }
      .octothorpe__content2--solution-text-1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 1rem; }
        @media only screen and (max-width: 56.25em) {
          .octothorpe__content2--solution-text-1 {
            padding-bottom: 0; } }
      .octothorpe__content2--solution-text-2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 1rem; }
        @media only screen and (max-width: 56.25em) {
          .octothorpe__content2--solution-text-2 {
            padding-bottom: 3rem; } }
    .octothorpe__content2--btns {
      grid-column: 2; }
      .octothorpe__content2--btns-1 {
        grid-column: 1; }
        .octothorpe__content2--btns-1 button {
          margin: -20rem 2rem 2rem 0;
          width: 15rem;
          transition: all .2s;
          position: relative;
          font-size: 2rem;
          padding: .5rem 1rem;
          background-color: transparent;
          color: #B52637;
          border: .2rem solid #B52637;
          cursor: pointer; }
          @media only screen and (max-width: 56.25em) {
            .octothorpe__content2--btns-1 button {
              margin: -20rem 2rem 2rem 0;
              width: 100%; } }
          .octothorpe__content2--btns-1 button:focus {
            outline: 0; }
        .octothorpe__content2--btns-1 button:hover {
          background-color: #B52637;
          color: white;
          transform: translateY(-0.3rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          animation: pulse 1.3s infinite; }
        .octothorpe__content2--btns-1 button:active {
          background-color: #991f2e;
          color: white;
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }

.container-train {
  display: grid;
  grid-row: content-start / content-end;
  grid-column: col-start / col-end;
  background-color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .container-train {
      margin-top: 6rem; } }

.train {
  display: grid;
  grid-template-columns: 15vw 70vw 15vw; }
  .train__img {
    grid-column: 1/-1; }
    .train__img--1 {
      width: 100vw;
      object-fit: cover;
      height: 340px; }
      @media only screen and (max-width: 56.25em) {
        .train__img--1 {
          height: 200px; } }
      @media only screen and (max-width: 37.5em) {
        .train__img--1 {
          height: 150px; } }
  .train__heading {
    grid-column: 2;
    margin: 5rem 0;
    background-color: white; }
    .train__heading--text {
      font-family: 'Merriweather', sans-serif;
      font-weight: 300;
      font-size: 4rem;
      color: #333333;
      font-style: italic; }
    .train__heading--tag {
      font-family: 'Merriweather', sans-serif;
      font-size: 1.6em;
      color: #2E3192;
      font-style: italic;
      font-weight: bold; }
  .train__content {
    grid-column: 2;
    font-size: 1.6rem;
    display: grid;
    grid-gap: 50px; }
    @media only screen and (max-width: 56.25em) {
      .train__content {
        grid-gap: 0;
        font-size: 2rem; } }
    .train__content--obj {
      grid-column: 1; }
      .train__content--obj-heading {
        font-family: 'Montserrat', sans-serif;
        color: #333333;
        font-weight: bolder;
        padding-bottom: 1rem; }
      .train__content--obj-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 1rem; }
    .train__content--challenge {
      grid-column: 1; }
      .train__content--challenge-heading {
        font-family: 'Montserrat', sans-serif;
        color: #333333;
        font-weight: bolder;
        padding-bottom: 1rem; }
      .train__content--challenge-text-1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 5rem; }
        @media only screen and (max-width: 56.25em) {
          .train__content--challenge-text-1 {
            padding-bottom: 1rem; } }
  .train__content2 {
    grid-column: 2;
    font-size: 1.6rem;
    display: grid; }
    @media only screen and (max-width: 56.25em) {
      .train__content2 {
        font-size: 2rem;
        grid-column: 1; } }
    .train__content2--solution {
      grid-column: 2; }
      .train__content2--solution-heading {
        font-family: 'Montserrat', sans-serif;
        color: #333333;
        font-weight: bolder;
        padding-bottom: 1rem; }
      .train__content2--solution-text-1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 1rem; }
        @media only screen and (max-width: 56.25em) {
          .train__content2--solution-text-1 {
            padding-bottom: 0; } }
      .train__content2--solution-text-2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #868686;
        font-weight: 300;
        line-height: 29px;
        padding-bottom: 2rem; }
        @media only screen and (max-width: 56.25em) {
          .train__content2--solution-text-2 {
            padding-bottom: 3rem; } }
    .train__content2--btns {
      grid-column: 2; }
      .train__content2--btns-1 {
        grid-column: 1; }
        .train__content2--btns-1 button {
          margin: -20rem 2rem 2rem 0;
          width: 15rem;
          transition: all .2s;
          position: relative;
          font-size: 2rem;
          padding: .5rem 1rem;
          background-color: transparent;
          color: #B52637;
          border: .2rem solid #B52637;
          cursor: pointer; }
          @media only screen and (max-width: 56.25em) {
            .train__content2--btns-1 button {
              margin: -20rem 2rem 2rem 0;
              width: 100%; } }
          .train__content2--btns-1 button:focus {
            outline: 0; }
        .train__content2--btns-1 button:hover {
          background-color: #B52637;
          color: white;
          transform: translateY(-0.3rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          animation: pulse 1.3s infinite; }
        .train__content2--btns-1 button:active {
          background-color: #991f2e;
          color: white;
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
