.container-nameplate{
    display: grid;
    grid-row: name-start / name-end;
    grid-column: main-start / main-end;
    margin: 4rem 0;
    justify-content: start;
    align-content: start;  
}

.nameplates { 
    z-index: 200;
    display: grid;
    grid-template-columns: repeat(2, 35vw); 
    @include respond(tab-port) {
        grid-template-columns: 70vw; 
        grid-template-rows: 1fr 1fr; 
        grid-gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    @include respond(phone) {
        grid-gap: 0;
    }
    &__logo--name {
        margin-top: 1rem;
        width: 22rem;
        cursor: pointer;
    }
    &__logo img {
        grid-row:1;
        @include respond(tab-port) {
        justify-self: center;
        width: 100%;
        height: 4rem;
        justify-content: center;
        margin-bottom: 1rem
        }
    }
     
    &__btns {
        display: grid;  
        color: rgb(51, 51, 51);
        grid-template-columns: repeat(5, 10rem);
        justify-items: end;
        justify-content: end;
        align-items: end;

        @include respond(tab-port) {
            margin-bottom: 20px;
            justify-items: center;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(5, 14vw);
        }
        @include respond(phone) {
            grid-template-columns: repeat(5, 14vw);
        }   
         @include respond(phone-small) {
            grid-template-columns: repeat(5, 18vw);
            margin-right: 2rem;
        }

        &--border {
            border: 2px solid #B52637 !important;
            color: #B52637 !important;
            box-sizing: border-box;
            margin-left: 1rem;
        }
        &--border:hover {
            transition: all .2s;
            background-color: #B52637;
            color: #fff !important;
        }
        &--work:hover {
            transition: all .2s;
            color: #B52637;
        }
        &--about:hover {
            transition: all .2s;
            color: #B52637;
        }
        &--git:hover {
            transition: all .2s;
            color: #B52637;
        }
        &--resume:hover {
            transition: all .2s;
            color: #B52637;
        }
    }
    button { 
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        padding: .5rem 1rem;
        border-style: none;
        font-size: 1.7rem;
        cursor: pointer;
        color: rgb(51, 51, 51);
        border-radius: 0;
        background-color: inherit;
        @include respond(phone) {
            padding:.3rem .5rem;
            font-size: 2rem;
        }   
         @include respond(phone-small) {
            grid-template-columns: repeat(5, 18vw);
        }
        
    }
    button:focus{
        outline:0;
    }
}